#specials{
  margin-bottom: 2rem;
}
#menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr ));
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  padding: 0 150px;

}

.menuItem {
  padding:  0, 500px;
  width: 100%; /* Adjusted width */
  background-color: #edefee;
  border-radius: 1.5rem; /* Adjusted border-radius */
  padding-bottom: 1.25rem;
  transition: 0.3s ease;
  box-sizing: border-box; /* Include padding and border in the width calculation */

}

.menuItem:hover {
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3); /* Adjusted box-shadow */
}

.menuItem img {
  border-top-left-radius: 1.5rem; /* Adjusted border-radius */
  border-top-right-radius: 1.5rem; /* Adjusted border-radius */
  height: 10rem; /* Adjusted height */
  width: 100%; /* Adjusted width */
}

.nameAndPrice {
  display: flex;
  justify-content: space-between; /* Adjusted spacing */
  align-items: center;
  padding: 0.625rem; /* Added padding */
}
.weekSpecials{
  display: flex;
  justify-content: space-around; /* Adjusted spacing */
  align-items: center;
  padding: 0.625rem;
}
.nameAndPrice p{
  color:#ffa500;
}

.menuText {
  margin:3rem 0rem 3rem 1rem ; 
  font-family: "Karla", sans-serif;
  line-height: 1.5;
  max-width: 20ch;
}

#menu button {
  margin-left: .50rem;
  
}

@media (max-width:900px) {
  #menu{
    padding: 1rem;

  }
}
